# =========================
# macOS OS Files
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# =========================
# Xcode
# =========================
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User-specific settings
xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# =========================
# Swift Package Manager (SPM)
# =========================
.swiftpm/xcode/
.build/

# =========================
# Apollo GraphQL
# =========================
*/Generated/
API.swift

# =========================
# CocoaPods
# =========================
Pods/

# =========================
# Fastlane
# =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# =========================
# IDEs & Editors
# =========================
.cursor/
.vscode/
.idea/
*.code-workspace
# =========================
# Configuration
# =========================
*.xcconfig
!Config.xcconfig.example
